<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/stylesheets/global.css" />
    <link rel="stylesheet" href="../static/stylesheets/index3.css" />
  </head>
  <body>
    <div class="desktop">

      <header class="navbar" data-scroll-to="navbar">
        <img
          class="logo-icon"
          loading="lazy"
          alt=""
          src="../static/public/logo@2x.png"
        />

        <div class="main-frame">
            <div class="demo" id="demoText">
                <a href="/mainframe">Demo</a>
            </div>
            <div class="download">Download</div>
            <div class="pricing">Pricing</div>
            <div class="about-us">About us</div> 
            <div class="loginsignup">Login/Signup</div>
        </div>
      </header>

      <div class="image-frame">
        <div class="manga-translation-title">
          <h1 class="the-ultimate-manga">The ultimate manga translation</h1>
          <div class="transflow-efforlessly-transla">
            TransFlow: efforlessly translates manga and scans into multiple
            languages. Simple and accessible for all language levels. Perfect
            formanga fans and profesionals alike.
          </div>
        </div>
        <button class="demo-button" id="demoButton">
          <div class="try-it-now">
            <a href="/mainframe"> Try it now</a>
          </div>
        </button>
      </div>
      <section class="images">
        <img
          class="n-1-icon"
          loading="lazy"
          alt=""
          src="../static/public/420418952-412541804474419-7718227563709307498-n-1@2x.png"
        />

        <img
          class="n-1-icon1"
          loading="lazy"
          alt=""
          src="../static/public/423472093-1844153292692312-2177230766854594905-n-1@2x.png"
        />

        <img
          class="n-1-icon2"
          loading="lazy"
          alt=""
          src="../static/public/423454364-3705776936357812-6508709156614601595-n-1@2x.png"
        />
      </section>
      <section class="business-service-text">
        <h1 class="pricing-plan">Pricing Plan</h1>
        <div class="plans">
          <div class="free-service">
            <div class="content">
              <div class="feedback-link-text">
                <div class="free">Free</div>
                <div class="div">0$</div>
                <div class="feedback-link-text-child"></div>
              </div>
              <div class="credits-per-week-container">
                <ul class="credits-per-week-can-still-acc">
                  <li class="credits-per-week">5 credits per week</li>
                  <li>Can still access most of our service</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="advanced-service">
            <div class="content1">
              <div class="advanced-service-parent">
                <div class="advanced-service1">Advanced service</div>
                <div class="contact-us">4.99$</div>
                <div class="credits-block"></div>
              </div>
              <div class="credits-one-time-container">
                <ul class="credits-one-time-purchase-addi">
                  <li class="credits-one-time">
                    600 credits one time purchase
                  </li>
                  <li class="additional-10-credits">
                    Additional 10 credits per week
                  </li>
                  <li class="better-and-faster">
                    Better and faster translation
                  </li>
                  <li class="priority-support">Priority support</li>
                  <li>Ad-free experience</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="advanced-service2">
            <div class="content2">
              <div class="premium-service-parent">
                <div class="premium-service">Premium service</div>
                <div class="div1">11.9$</div>
                <div class="frame-child"></div>
              </div>
              <div class="credits-one-time-container1">
                <ul class="credits-one-time-purchase-addi1">
                  <li class="credits-one-time1">
                    2500 credits one time purchase
                  </li>
                  <li class="additional-50-credits">
                    Additional 50 credits per week
                  </li>
                  <li class="better-and-faster1">
                    Better and faster translation
                  </li>
                  <li class="priority-support1">Priority support</li>
                  <li class="editable-fonts">Editable Fonts</li>
                  <li>Ad-free experience</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="advanced-service3">
            <div class="content3">
              <div class="bussiness-service-parent">
                <div class="bussiness-service">Bussiness service</div>
                <div class="contact-us1">Contact Us</div>
                <div class="frame-item"></div>
              </div>
              <div class="unlimited-credit-depends-container">
                <ul class="unlimited-credit-depends-on-th">
                  <li class="unlimited-credit-depends">
                    Unlimited Credit depends on the user payment
                  </li>
                  <li class="better-and-faster2">
                    Better and faster translation
                  </li>
                  <li class="priority-support2">Priority support</li>
                  <li class="editable-fonts1">Editable Fonts</li>
                  <li>Ad-free experience</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="transflow">
          <img
            class="logo-icon1"
            alt=""
            src="../static/public/logo-1@2x.png"
            id="logoImage1"
          />

          <div class="copyright-2024">
            Copyright © 2024 - Transflow All rights reserved
          </div>
          <div class="feedbacktransflowcom">feedback@transflow.com</div>
        </div>
        <div class="right-side-footer">
          <div class="navigation">
            <div class="navigation1">Navigation</div>
            <div class="nav-child">
                <div class="demo1" id="demoText1">
                    <a href="/mainframe">Demo</a>
                </div>
                <div class="download1">Download</div>
                <div class="pricing1">Pricing</div>
                <div class="about-us1">About us</div>
            </div>
          </div>
          <div class="legal">
            <div class="legal1">Legal</div>
            <div class="term-and-privacy">
              <div class="terms-and-conditions">Terms and Conditions</div>
              <div class="privacy-policy">Privacy Policy</div>
            </div>
          </div>
          <div class="download-and-follow">
            <div class="download2">Download</div>
            <div class="platform">
              <img
                class="chrome-icon-1"
                loading="lazy"
                alt=""
                src="../static/public/chrome-icon-1@2x.png"
              />

              <img
                class="pngegg-2-1"
                loading="lazy"
                alt=""
                src="../static/public/pngegg-2-1@2x.png"
              />

              <img
                class="pngegg-1-1"
                loading="lazy"
                alt=""
                src="../static/public/pngegg-1-1@2x.png"
              />

              <img
                class="apple-icon-1"
                loading="lazy"
                alt=""
                src="../static/public/apple-icon-1@2x.png"
              />
            </div>
            <div class="follow-us">Follow Us</div>
            <div class="media">
              <img
                class="tiktok-icon-1"
                loading="lazy"
                alt=""
                src="../static/public/tiktok-icon-1@2x.png"
              />

              <img
                class="facebook-icon-1"
                loading="lazy"
                alt=""
                src="../static/public/facebook-icon-1@2x.png"
              />

              <img
                class="youtube-icon-1"
                loading="lazy"
                alt=""
                src="../static/public/youtube-icon-1@2x.png"
              />

              <img
                class="layer-4-1"
                loading="lazy"
                alt=""
                src="../static/public/layer-4-1@2x.png"
              />
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="../static/javascript/index.js"></script>
  </body>
</html>

