<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheets/MainFrame.css">
    <link rel="stylesheet" href="../static/stylesheets/process_uploads.css">
    <title>TransFlow</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</head>

<body class="text-white bg-dark">
    <nav class="navbar sticky-top bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img class="logo-icon" loading="lazy" alt="" src="../static/public/logo@2x.png" style="width: 50%;" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-options" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/mainframe"> <span>Demo</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><span>Download</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><span>Pricing</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><span>About us</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link px-3" href="#"><span>Login/Signup</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Transflow Translator</h2>
        <div class="container">
            <div class = "row">
                <div class = "col">
                    <div id="fileCarousel" class="carousel slide" data-bs-ride="carousel">
                        <!-- <ol class="carousel-indicators">
                            {% for file in files %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{loop.index0}" class="{% if loop.first %}active{% endif %}"></li>
                            {% endfor %}
                        </ol> -->
                        <div class="carousel-inner">
                            {% for file in files %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <a class="image-link" href="{{ url_for('view_file', filename=file) }}">
                                    <img src="{{ url_for('view_file', filename=file) }}" class="d-block w-100 upload-rectangle" alt="{{ file }}">
                                </a>
                                <div class="text-center py-3">
                                    <a class ="image-link  d-inline px-3" href="{{ url_for('view_file', filename=file) }}">{{ file }}</a>
                                    <form action="/delete/{{ file }}" method="post" class="d-inline px-3">
                                        <button class="btn btn-light delete-button btn-sm" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#fileCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#fileCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class = "col">

                    <h2>Options</h2>

                    <form action="/download" method="post" class = "p-3">
                        <button type="submit" class="btn btn-lg btn-light delete-button">Download</button>
                    </form>
                    <form action="/delete_upload" method="post" class = "p-3">
                        <button type="submit" class="btn btn-lg btn-light delete-button">Return to Index</button>
                    </form>
                    <a href="/mainframe" class = "p-3"><button type="button" class="btn btn-lg btn-light delete-button">Upload More Files</button></a>
                </div>
            </div>
            
        </div>

    </div>


    <!-- <div class="container">
        <h2>Uploaded Files</h2>
        <ul>
            {% for file in files %}
            <li>
                <a class ="image-link" href="{{ url_for('view_file', filename=file) }}">{{ file }}</a>
                <img class = "p-3" src="{{ url_for('view_file', filename=file) }}" alt="">
                <form action="/delete/{{ file }}" method="post" style="display: inline;">
                    <button class="btn btn-lg btn-light delete-button" type="submit">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>   
    </div>-->



    <footer class="bg-body-tertiary text-center text-lg-start mt-5" data-bs-theme="dark">
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">
                                <img class="logo-icon-footer" loading="lazy" alt="" src="../static/public/logo@2x.png"
                                    style="width: 50%;" />
                            </a>
                        </li>
                        <li>
                            <p class="text-body">Copyright © 2024</p>
                        </li>
                        <li>
                            <p class="text-body">Transflow All rights reserved</p>
                        </li>
                        <li>
                            <a href="#!" class="text-body">feedback@transflow.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h3 class="text-uppercase mb-0">Navigation</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/mainframe" class="text-body">Demo</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body">Download</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body">About us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h3 class="text-uppercase">Legal</h3>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-body">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="#!" class="text-body">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <div class="row">
                        <h3 class="text-uppercase mb-0">Download</h3>
                        <div class="flex-container-footer">
                            <div class="col px-n3 item-icon-footer">
                                <a href=""><img src="../static/public/chrome-icon-11@2x.png" class="icon"></a>
                            </div>
                            <div class="col px-n3 item-icon-footer">
                                <a href=""><img src="../static/public/pngegg-2-1@2x.png" class="icon"></a>
                            </div>
                            <div class="col px-n3 item-icon-footer">
                                <a href=""><img src="../static/public/apple-icon-1@2x.png" class="icon"></a>
                            </div>
                            <div class="col px-n3 item-icon-footer">
                                <a href=""><img src="../static/public/pngegg-1-1@2x.png" class="icon"></a>
                            </div>
                        </div>
                        <h3 class="text-uppercase mb-0">Follow Us</h3>
                        <div class="flex-container-footer">
                            <div class="col px-n3 item-icon-footer">
                                <a href=""><img src="../static/public/tiktok-icon-11@2x.png" class="icon"></a>
                            </div>
                            <div class="col px-n3 item-icon-footer">
                                <a href=""><img src="../static/public/youtube-icon-11@2x.png" class="icon"></a>
                            </div>
                            <div class="col px-n3 item-icon-footer">
                                <a href=""><img src="../static/public/facebook-icon-11@2x.png" class="icon"></a>
                            </div>
                            <div class="col px-n3 item-icon-footer">
                                <a href=""><img src="../static/public/layer-4-11@2x.png" class="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

    <!-- Bootstrap JS and Popper.js -->
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

</html>